= render partial: 'shared/navbar'

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.form-box
  %h3.text-center Please sign up
  %br
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .form-group
      = f.label 'Email address'
      %br
      = f.email_field :email, autofocus: true, placeholder: "email@example.com", class: 'form-control'
    .form-group
      = f.label :name
      %br
      = f.text_field :name, autofocus: true, class: 'form-control', :required => true
    .form-group
      = f.label :tags
      %br
      = f.text_field :tags, autocomplete: "off", :name => "tags", placeholder: 'Enter tags separated by commas', :value => params[:tags], class: 'form-control'
    .form-group
      = f.label :password
      %br
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    .form-group
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
    %input.btn.btn-primary.sign-up-button{:value => "Sign up", :type => "submit", style: 'width: 100%;', :disabled => true}
  %br
  .confirm-terms.text-center
    = check_box('terms', 'acepted')
    I agree with the Certified Peng Terms

  %p.text-center
    Already have an account?
    = link_to 'Login', new_user_session_path


= render :partial => 'shared/footer'