%h2
  This is feedback from Contact Us page
%br
%p
  %strong
    Site visitor with:
  %ul
    %li
      %p Name: #{@name}
    %li
      %p Email: #{@email}
    %li
      %p Telephone: #{@telephone}

%p
  %strong
    Left the next message:
  %ul
    %li
      %p Reason: #{@reason}
    %li
      %p Message: #{@message}


