= render partial: 'shared/navbar'

.home-page
  %p
    = link_to root_path do
      = image_tag('certifiedpeng-large.png', :class => "main-logo")


.dashboard-box.text-center
  %h2
    Your Purchases:
-if current_user && !@purchases.empty?
  .row
    .col-md-2
    .col-md-8
      .result
        %table.table
          %thead
            %tr
              %th
              %th Item
              %th Date of purchase
          %tbody
            - @purchases.each do |purchase|
              %tr
                %th{:scope => "row"}
                  %td
                    = 'T-Shirt : ' + purchase.item
                  %td
                    = purchase.created_at.strftime("%d %b %Y")
    .col-md-2
- elsif current_user && @purchases.empty?
  .not-found-text.text-center
    You have not made a purchase yet
- else
  .row
    .col-lg-3.col-md-2
    .col-lg-6.col-md-8
      .success-message
        %p
          Congratulations on buying your Certifed Peng
          %b Cee Pee Tee Shirt!
        %p Now that you have your certified uniform, join the club and start tracking content and seeing what's trending as Peng around the Internet. If you are a content owner, add the Certified Peng like button to your content TODAY
        %p
          =link_to 'Register here >', new_user_registration_path
    .col-lg-3.col-md-2


= render :partial => 'shared/footer'
