.top-header
  .row
    .col-md-12
      .navbar-links
        - if !current_user
          = link_to 'Home Page', root_path
          = link_to 'Signup', new_user_registration_path
          = link_to 'Login', user_session_path
        - else
          = link_to 'Dashboard', dashboard_path
          = link_to 'Merchandise', merchandise_path
          = link_to 'My Tags', tags_path
          = link_to 'Purchases', purchases_path
          = link_to 'Logout', destroy_user_session_path, method: :delete