.navbar
  = link_to 'Home Page |', root_path
  = link_to 'Merchandise |', merchandise_path
  = link_to 'My Tags |', tags_path
  = link_to 'My Purchases |', purchases_path
  = link_to 'Logout', destroy_user_session_path, method: :delete