= render partial: 'shared/navbar'
= render partial: 'shared/main_logo'

.dashboard-box.text-center
  %h1
    Your Tags
  %p
    You can track 5 Tags per account. You can still add #{@not_added_tags} tags.
.tags-box
  .list-group
    - @tags.each do |tag|
      .list-group-item{:href => "#"}
        = link_to tag.tag_name, tag_path(tag)

.row
  .col-lg-4.col-md-3.col-xs-2
  .col-lg-4.col-md-6.col-xs-8
    = form_tag tags_path do
      .input-group
        = text_field_tag 'tag', nil, placeholder: "Enter one tag each", class: 'form-control'
        %span.input-group-btn
          = submit_tag 'Add tag',class: 'btn btn-default'
  .col-lg-4.col-md-3.col-xs-2


= render :partial => 'shared/footer'
