
%h1.text-center
  Your Tags
%p.text-center
  - if current_user.admin?
    You can add an unlimited number of tags
  - elsif !current_user.admin? && current_user.exist_purchase?
    You have made purchases and you can add more tags - #{@purhace_tags}
  - else
    You can track 5 Tags per account. You can still add #{@not_added_tags} tags

.new-tag
  .row
    .col-lg-4.col-md-3.col-xs-0
    .col-lg-4.col-md-6.col-xs-12
      = form_tag tags_path do
        .input-group
          = text_field_tag 'tag', nil, placeholder: "Enter one tag each", class: 'form-control'
          %span.input-group-btn
            = submit_tag 'Add tag',class: 'btn btn-default'
    .col-lg-4.col-md-3.col-xs-0

.row
  .col-lg-3.col-md-2.col-xs-0
  .col-lg-6.col-md-8.col-xs-12
    .tags-box
      .list-group
        - @tags.each do |tag|
          .list-group-item{:href => "#"}
            = link_to tag.tag_name, tag_path(tag)
  .col-lg-3.col-md-2.col-xs-0
