.navbar
  = link_to 'Home Page |', root_path
  = link_to 'Dashboard |', dashboard_path
  = link_to 'Logout', destroy_user_session_path, method: :delete

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.dashboard-box.text-center
  %h1
    Your Tags
  %p
    You can track 5 Tags per account. You can still add #{@not_added_tags} tags.
.tags-box
  .list-group
    - @tags.each do |tag|
      .list-group-item{:href => "#"}
        = link_to tag.tag_name, tag_path(tag)

.search-box
  .col-lg-6
  %form{:action => "/tags", :method => "get"}
    %input.form-control.search-input{style: 'height: 4%;', :name => "tag", placeholder: "Enter one tag each", type: "text"}
    %button.btn.btn-default.search-button{ :type => "submit"} Add tag


%hr
  .navbar
    %span.text-link
      Gorilla Theory Labs 2017
    %span.text-link{style: 'float: right;'}
      =link_to 'Contact Us', contact_us_path
      =link_to 'Advertise', contact_us_path
      =link_to 'About Us', about_us_path
      =link_to 'Terms', terms_path
