
.main-text
  %h3 Get the Certified Peng button for your content using your TAG - #{@tag.tag_name}:
  %br
.row
  .col-lg-3.col-md-3.col-xs-0
  .col-lg-6.col-md-6.col-xs-12
    .script-box
      = "<div class='sinatra-like-button'>"
      %br
      = "<script src='https://www.certifiedpeng.com/like-button/TAG-NAME' type='text/javascript'></script>"
      %br
      = '</div>'
  .col-lg-3.col-md-3.col-xs-0

.my-tags-steps
  .row
    .col-md-3
    .col-md-6
      %b How To:
      %br
      %b Step 1:
      Copy and paste the code snippet above
      %br
      %b Step 2:
      Place the code where you want the Certified Peng button to appear on your web page
      %br
      %b Step 3:
      Upload your web page and watch the clicks count increase
      %br
      %b NB:
      %span
        You can have a Certifed Peng button without adding having a tracking account, but you will not be able to access the
        = link_to 'tracking dashboard', new_user_session_path
        where you can create specific tags for campaigns or specific content
      %br
      %b Advanced - for tag tracking
      %br
      %b Step 4:
      %span
        = link_to 'Register', new_user_registration_path
        for a Certified Peng tracking account:
        = link_to 'click here >', new_user_registration_path
      %br
      %b Step 5:
      %span
        = link_to 'Login', new_user_session_path
        to your account and check your button tag analytics from your dashboard.
        = link_to 'Click here >', dashboard_path
    .col-md-3
