= render partial: 'shared/navbar'

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.main-text
  %h3 Get the Certified Peng button for your content using your TAG - #{@tag.tag_name}:
  %br
.script-box
  = "<div class='sinatra-like-button'>"
  %br
  = "<script src='https://www.certifiedpeng.com/like-button/#{@tag.tag_name}' type='text/javascript'></script>"
  %br
  = '</div>'

.my-tags-steps
  .row
    .col-md-3
    .col-md-6
      %b How To:
      %br
      %b Step 1:
      If you are here, you have registered with a tag. The tag is in the code snippet.
      %br
      %b Step 2:
      Copy and Paste the code to where you want the Certified Peng button to display on your webpage
      %br
      %b Step 3:
      Track the number of clicks your button gets :>)
      %br
      %b NB:
      You can have a Certifed Peng button without adding having a tracking account, but you will not be able to access the
      = link_to 'tracking dashboard', dashboard_path
    .col-md-3

= render :partial => 'shared/footer'