.navbar
  = link_to 'Home Page |', root_path
  = link_to 'Dashboard |', dashboard_path
  = link_to 'Logout', destroy_user_session_path, method: :delete

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.dashboard-box.text-center
  %h1
    Tag detailing

-if @like.present?
  .result{style: 'margin-bottom: 17%;'}
    %table.table
      %thead
        %tr
          %th
          %th Tag name
          %th Url
          %th Like count
          %th Tracking since
          %th Сountries
      %tbody
        %tr
          %th{:scope => "row"}
            %td
              = @like.tag_name
            %td
              = @like.url
            %td
              = @like_count
            %td
              = @date.created_at.strftime("%d %b %Y")
            %td
              = @countries

= render :partial => 'shared/footer'