
.dashboard-box.text-center
  %h1
    Tag detailing

-if @like.present?
  .result{style: 'margin-bottom: 17%;'}
    %table.table
      %thead
        %tr
          %th
          %th Tag name
          %th Url
          %th Like count
          %th Tracking since
          %th Ğ¡ountries
      %tbody
        %tr
          %th{:scope => "row"}
            %td
              = @like.tag_name
            %td
              = @like.url
            %td
              = @like_count
            %td
              = @date.created_at.strftime("%d %b %Y")
            %td
              = @countries