.navbar
  = link_to 'Home Page', root_path
.sign-box
  .container{style: 'margin-top: 10%; padding-left: 40%'}
    %h3 Please sign in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label 'Email address'
        = f.email_field :email, autofocus: true, placeholder: "email@example.com"
      .field
        = f.label :password
        = f.password_field :password, autocomplete: "off", placeholder: "******"
        %input.btn.btn-lg.btn-primary.btn-block{:value => "Login", :type => "submit", style: 'width: 220px;'}
      %br
        Don’t have an account?
        = link_to 'Signup', new_user_registration_path