.navbar
  - if !current_user
    = link_to 'Home Page |', dashboard_path
    = link_to 'Signup |', new_user_registration_path
    = link_to 'Login', user_session_path
  - else
    = link_to 'Home Page |', root_path
    = link_to 'Dashboard |', dashboard_path
    = link_to 'Logout', destroy_user_session_path, method: :delete

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.terms-box
  .row
    .col-md-2
    .col-md-8
      %h3.text-left{style: 'margin-left: 3%'}
        About Us
      %br
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
      Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text
    .col-md-2

= render :partial => 'shared/footer'