.navbar
  - if !current_user
    = link_to 'Dashboard |', dashboard_path
    = link_to 'Signup |', new_user_registration_path
    = link_to 'Login', user_session_path
  - else
    = link_to 'Home Page |', root_path
    = link_to 'Dashboard |', dashboard_path
    = link_to 'Logout', destroy_user_session_path, method: :delete


.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.image-panel
  .row
    .col-md-12.text-center
      %h2
        = @category.name.capitalize
      .category-image
        - if @category.name == 'fashion'
          = image_tag 'merch-girl.jpg', class: 'image-video-box'
        - else
          = image_tag 'image-video.png', class: 'image-video-box'


.category-desc
  .row
    .container
      .col-md-2
      .col-md-8
        - if @category.name == 'fashion'
          %h3.text-center
            Certified Peng Merch
          %br
          %p The official Certified Peng T-Shirt (the Cee Pee Tee) is available for mass consumption by the peng and aspirational peng! Stand out from the crowd and make a statement this summer. Get yours today.
          %p We have womens (medium and large) and mens (large and XL) at the moment. Don't read anything in to those sizes...that's all that's left.
          %p ALL stock introduction sale: &#163;25 (strikethrough CSS of &#163;35)
          %p
            %span Womens' Medium (
            = link_to 'buy now >'
            ) Womens' Large (
            = link_to 'buy now >'
            )
          %p
            %span
              Mens' Large (
              = link_to 'buy now >'
              ) Mens' Extra Large (
              = link_to 'buy now >'
              )
        - else
          %h3.text-center
            Title
          %br
          %p Check This Out some copy text and some more copy text Check This Out some copy text and some more copy text
          %p Check This Out some copy text and some more copy text Check This Out some copy text and some more copy text
          %p Check This Out some copy text and some more copy text Check This Out some copy text and some more copy text
          %p Check This Out some copy text and some more copy text Check This Out some copy text and some more copy text
      .col-md-2

.share-links
  .row
    .col-md-4.text-center
      %p
        = link_to "#", onclick: 'share_facebook(event);', class:'click' do
          Share Facebook
    .col-md-4.text-center
      %p
        %a{:href => "whatsapp://send?text=Share on whatsapp"} Share on WhatsApp
    .col-md-4.text-center
      %p
        = link_to '#', onclick: 'share_twitter(event);', class:'click' do
          %script{ type: "text/javascript", src:  "//newsharecounts.s3-us-west-2.amazonaws.com/nsc.js"}
          Share Twitter

.main-text
  %h3 Get the Certified Peng button for your content:
.script-box
  = "<div class='sinatra-like-button'>"
  %br
  = "<script src='https://www.certifiedpeng.herokuapp.com/like-button/TAG-NAME' type='text/javascript'></script>"
  %br
  = '</div>'

= render :partial => 'shared/footer'


:javascript
  function share_facebook() {
    event.preventDefault();
    window.open("https://www.facebook.com/dialog/feed?app_id=1102341536470522&name=CertifiedPeng&display=popup&link=http://certifiedpeng.com&description=Share this amazing service!",'popup','height=500,width=500')
  }
  function share_twitter(event) {
    event.preventDefault();
    window.open("http://twitter.com/share?url=#{ENV['HOST']}&text=Share this amazing service!", 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  }
