.image-container
  .row
    .col-md-12
      .image-content.text-center
        %h2
          = @category.name.capitalize
        - if @category.name == 'fashion'
          = image_tag 'merch-girl.jpg', class: 'image-box-large'
        - elsif @category.name == 'tech'
          = image_tag 'creative-aurvana-headphones.jpg', class: 'image-box-large'
        - elsif @category.name == 'life'
          %iframe{allowfullscreen:  "", frameborder: "0", src: "//www.youtube.com/embed/yJjK9QY2WuE", class: 'life-video-content'}

.text-container
  .row
    .container
      .col-md-2
      .col-md-8
        .category-desc
          - if @category.name == 'fashion'
            %h3.text-center
              Certified Peng Merch
            %br
            %p
              <b>ALL stock introduction SALE: <font color="#bf3939 ">&#163;25 (inc. VAT)</font></b> ( <strike>&#163;35</strike> ) <b>NB: Postage: &#163;3.75 (Total Price: <font color="#bf3939 ">&#163;28.75</font>)</b>
            %p
              The official, exclusive design Certified Peng T-Shirt (the Cee Pee Tee) is available for mass consumption by the peng and aspirational peng! White, 100% cotton, twin-needle sleeves. Stand out from the crowd and make a statement this summer. <b>Get yours today.</b>
            %p
              We have womens (medium and large) and mens (large and XL) at the moment. Don't read anything in to those sizes...that's all that's left.
            %p
              %b
                Washing instructions:
            %p
              Machine wash warm (inside out), with whites wash. Tumble dry medium.
            %br

            %p
              %span
                %b Womens' Medium
              (
              %a{class: 'buy-item', data: {item: 'Womens Medium'}} buy now >
              )
              %b Womens' Large
              (
              %a{class: 'buy-item',data: {item: 'Womens Large'}} buy now >
              )
            %p
              %span
                %b Mens' Large
              (
              %a{class: 'buy-item', data: {item: 'Mens Large'}} buy now >
              )
              %b Mens' Extra Large
              (
              %a{class: 'buy-item', data: {item: 'Mens Extra Large'}} buy now >
              )
            .stripe-box
              = image_tag('pay-with-stripe.jpg', :class => "main-logo")
            %hr
          - elsif @category.name == 'tech'
            %b
              %p.text-center
                The Creative Aurvana ANC Headphones
            %br
            %p
              It's not all about Beats and the iconic, white Apple buds. There are other high quality headphones on the market. Creative are specialists in audio equipment that bring the richness of sound to the customer.
            %p
              I've been digging Creative since they were releasing 500MB mini MP3 players. Their kit is sweet.
            %p
              These bad boys are the Aurvana range of headphone: Noise-isolating, foldable headphones with remote and microphone for calls. Not cheap (at £99) but not as expensive as Beats and comparable (if not better) audio quality. Try them...
            %p
              %a{href: "http://uk.creative.com/p/headphones-headsets/aurvana-anc", title: "Creative Aurvana ANC", target: "_blank"} Creative Aurvana ANC >
            %hr
          - elsif @category.name == 'life'
            %b
              %p.text-center
                The Chicken Connoisseur
                %br Ambassador or Peng
            %br
            %p
              A visit to the humble, local chicken takeaway restaurant will never be the same. Is Bossman your surrogate dad? It could be that deep!
            %p
              2017 has seen the rise of the Chicken Connoisseur - he (Elijah Quashie) of
              %span
                %a{href: "https://www.youtube.com/channel/UCZFmxd9L1btyXig-2Dp9XnA", title: "The Pengest Munch", target: "_blank"} The Pengest Munch
              %span
                YouTube channel.
            %p
              They say that the best ideas are simple - reviewing local chicken takeaway restaurants is a deceptively simple idea. The charm of the poultry-loving connoisseur is what makes  these videos a breakout hit. His real age is a mystery (at least for the masses who don't know him). He is clearly a fan of this type of takeaway grub and gives as much critical detail as he can in the reviews - he's like an urban TripAdvisor for chicken takeaways - and adds a healthy dollop of humour and mandem diction to spice up the meal review...and ting!  His other passion is that of creps - trainers (sneakers to our US viewers). The crep check that precedes each review are a delight for millennial wordsmiths ('Redington', 'Meshington', 'piff').
            %p
              Keep 'em coming Connoissuer :>)
            %hr
      .col-md-2

.social-links
  .container
    .row
      .col-md-4.text-center
        %p
          = link_to "#", onclick: 'share_facebook(event);', class:'click' do
            Share Facebook
      .col-md-4.text-center
        %p
          %a{:href => "whatsapp://send?text=Share on whatsapp"} Share on WhatsApp
      .col-md-4.text-center
        %p
          = link_to '#', onclick: 'share_twitter(event);', class:'click' do
            %script{ type: "text/javascript", src:  "//newsharecounts.s3-us-west-2.amazonaws.com/nsc.js"}
            Share Twitter
    %hr


.script-container
  .container
    .row
      .col-md-2
      .col-md-8
        .panel-group
          .panel.panel-default
            .panel-body
              %h4.text-center
                Get the Certified Peng button for your content:
            .panel-heading{style: 'color: #615e5e; font-size: 15px;'}
              = "<div class='sinatra-like-button'>"
              %br
              = "  <script src='https://www.certifiedpeng.com/like-button/TAG-NAME' type='text/javascript'></script>"
              %br
              = '</div>'
      .col-md-2



:javascript
  function share_facebook() {
    event.preventDefault();
    window.open("https://www.facebook.com/dialog/feed?app_id=1102341536470522&name=CertifiedPeng&display=popup&link=http://certifiedpeng.com&description=Share this amazing service!",'popup','height=500,width=500')
  }
  function share_twitter(event) {
    event.preventDefault();
    window.open("http://twitter.com/share?url=#{ENV['HOST']}&text=Share this amazing service!", 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  }
