.image-container
  .row
    .col-md-12
      .image-content.text-center
        %h2
          = @category.name.capitalize
        - if @category.name == 'fashion'
          = image_tag 'chioma-jade.jpg', class: 'image-box-large', style: 'transform: scaleX(-1);'
        - elsif @category.name == 'retail'
          = link_to 'https://www.amazon.co.uk/gp/product/B07XRPPW5B/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07XRPPW5B&linkCode=as2&tag=ebonyreads-21&linkId=e202fb521b2cb9f433d6250215d77dda', target: '_blank' do
            = image_tag 'iphone-11.jpg', class: 'image-box-large'
        - elsif @category.name == 'life'
          %iframe{allowfullscreen:  "", frameborder: "0", src: "//www.youtube.com/embed/89CUc8aa8xQ", class: 'life-video-content'}

.text-container
  .row
    .container
      .col-md-2
      .col-md-8
        .category-desc
          - if @category.name == 'fashion'
            %h3.text-center
              Certified Peng Merch
            %br
            %b
              Get peng-ready for 2020! Introduction SALE:
              %font{color: "#bf3939"} £30 (inc. VAT)
            (
            %strike £35
            )
            %b
              NB: Postage: £3.75 (Total Price:
              = succeed ")" do
                %font{:color => "#bf3939 "} £33.75

            %br
            %br
            %p
              The official, exclusive, Certified Peng T-Shirt (<b title="the Certified Peng t-shirt">the Cee Pee Tee</b>) is available for the discerning fashionista, the debonair mandem, the peng, and the aspirational peng!
            %p
              It's available exclusively from this Certified Peng website and comes in White, is 100% cotton, with twin-needle sleeves.
            %p
              %strog Stand out from the crowd and make a statement. It's a conversation starter! Get yours today - buy now below
            %p
              We have womens (small, medium) and mens (medium and large) at the moment.
            %p
              Ladies, the men's sizes make peng nighties (they look much better than his hoodie, for real!).

            %p
              %span
                %b Womens' Small
              (
              %a{class: 'buy-item', data: {item: 'Womens Small'}} buy now >
              )
              %b Womens' Medium
              (
              %a{class: 'buy-item', data: {item: 'Womens Medium'}} buy now >
              )
            %p
              %span
                %b Mens' Medium
              (
              %a{class: 'buy-item', data: {item: 'Mens Medium'}} buy now >
              )
              %b Mens' Large
              (
              %a{class: 'buy-item', data: {item: 'Mens Large'}} buy now >
              )
            %br
            .text-center
              = image_tag 'karl-leigh.jpg'
            .stripe-box
              = image_tag('pay-with-stripe.jpg', :class => "main-logo")
            %hr
          - elsif @category.name == 'retail'
            %b
              %p.text-center
                Apple iPhone 11 (128GB) - Black
            %br
            %p
              2020 - The year of the slow-mo selfie (get ready for the jiggle!)
            %br
            .text-center
              %iframe{allowfullscreen:  "", frameborder: "0", src: "//www.youtube.com/embed/KEc3aGjN228", class: 'life-video-content'}
            %br
            %p
              Apple has finally upped their camera game with the 11. Triple camera
              and slow-mo capability (Baywatch Cam!). If tings ain't peng at regular
              speed, slow things down.
            %br
            %ul
              %li 6.1-inch Liquid Retina HD LCD display
              %li Water and dust resistant (2 metres for up to 30 minutes, IP68)
              %li Dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Portrait mode, and 4K video up to 60fps
              %li 12MP TrueDepth front camera with Portrait mode, 4K video, and Slo-Mo
              %li Face ID for secure authentication and Apple Pay
              %li A13 Bionic chip with third-generation Neural Engine
              %li Fast-charge capable
              %li Wireless charging
            %br
            %p
              Buy NOW on Amazon
              = link_to 'Apple iPhone 11 (128GB) - White', 'https://www.amazon.co.uk/gp/product/B07XRPPW5B/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B07XRPPW5B&linkCode=as2&tag=ebonyreads-21&linkId=e202fb521b2cb9f433d6250215d77dda'
              %img{:alt => "Apple iPhone 11", :border => "0", :height => "1", :src => "//ir-uk.amazon-adsystem.com/e/ir? t=ebonyreads-21&l=am2&o=2&a=B07XRPPW5B", :style => "border:none !important; margin:0px !important;", :width => "1"}/
            %br
            %strong Peng or Nah?
            %br
            %br
            %p
              The Balenciaga Tyrex sneaker...with the square toe-end...come on...they are Ballys'
              but are these ahead of the times or Certified Peng? They are Bally priced, of course.
              Take a look for yourselves at the
              = link_to 'Bally website >', 'https://www.balenciaga.com/gb/tyrex-shoes_cod11840115ff.html#/gb/all/tyrex-shoes', title: 'Bally Tyrex Sneaker', target: '_blank'
            %br
            .text-center
              = link_to 'https://www.balenciaga.com/gb/tyrex-shoes_cod11840115ff.html#/gb/all/tyrex-shoes', title: 'Bally Tyrex Sneaker', target: '_blank' do
                = image_tag 'bally-tyrex-sneaker.jpg', title: 'Bally Tyrex Sneaker'
            %hr
            .row
              .col-md-12.text-center
                .like-content
                  %p
                    You like the content? Click the button...
                .sinatra-like-button
                  %script{:src => "https://www.certifiedpeng.com/like-button/certified-peng-retailpage", :type => "text/javascript"}
          - elsif @category.name == 'life'
            %b
              %p.text-center
                Grime goes global
                %br Drill becomes mainstream?
            %br
            %p
              It's 2020 and Grime continues to evolve and break barriers and records. Main man Stormzy
              moves on from headlining at Glastonbury 2019 to his first world tour. The main European
              leg is before Brexit kicks in - smart move! Tickets available from
              = link_to 'the Stormzy website.', 'https://www.stormzy.com/#tourSection', target: '_blank', title: 'Stormzy World Tour 2020'
            %p
              J Hus is back with a banger of a new album ('Big Conspiracy') featuring collabos with
              Koffee, Burna Boy among others. Chart success and more respect should follow.
            %p
              How high will new star Aitch rise this year? He's moving from underground to mainstream.
              Will he convert the hardcore grime massive? Only time and consistently fire bars will tell.
            %p
              Which UK brand is utilising grime music and culture the best? Let's see what JD Sports and
              Fashion do in 2020, and Ikea (another peng TV advert to follow the
              = link_to '2019 Christmas advert?', 'https://www.youtube.com/watch?v=w0EKS2YfLc0', target: '_blank', title: '2019 Ikea Christmas TV advert'
            %p
              %strong Tip for the UK Grime Scene:
              Bring the top talent together for a tour and UK showcases or festivals. Brand the genre
              to sell to the world. Come Brexit, Brits need to have more bargaining power to benefit Brits.
            %hr
            .row
              .col-md-12.text-center
                .like-content
                  %p
                    You like the content? Click the button...
                .sinatra-like-button
                  %script{:src => "https://www.certifiedpeng.com/like-button/certified-peng-lifepage", :type => "text/javascript"}

.social-links
  .container
    .row
      .col-md-3.text-center
        %p
          = link_to "#", onclick: 'share_facebook(event);', class:'click' do
            Share Facebook
      .col-md-3.text-center
        %p
          %a{:href => "whatsapp://send?text=Share on whatsapp"} Share on WhatsApp
      .col-md-3.text-center
        %p
          = link_to '#', onclick: 'share_twitter(event);', class:'click' do
            %script{ type: "text/javascript", src:  "//newsharecounts.s3-us-west-2.amazonaws.com/nsc.js"}
            Share Twitter
      .col-md-3.text-center
        %p
          %a{href: "http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com", target: '_blank'} Share on LinkedIn
    %hr


.script-container
  .container
    .row
      .col-md-2
      .col-md-8
        .panel-group
          .panel.panel-default
            .panel-body
              %h4.text-center
                Get the Certified Peng button for your content:
            .panel-heading{style: 'color: #615e5e; font-size: 15px;'}
              = "<div class='sinatra-like-button'>"
              %br
              = "  <script src='https://www.certifiedpeng.com/like-button/TAG-NAME' type='text/javascript'></script>"
              %br
              = '</div>'
      .col-md-2



:javascript
  function share_facebook() {
    event.preventDefault();
    window.open("https://www.facebook.com/dialog/feed?app_id=1102341536470522&name=CertifiedPeng&display=popup&link=http://certifiedpeng.com&description=Share this amazing service!",'popup','height=500,width=500')
  }
  function share_twitter(event) {
    event.preventDefault();
    window.open("http://twitter.com/share?url=#{ENV['HOST']}&text=Share this amazing service!", 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  }
