= render partial: 'shared/navbar'

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

%h1.text-center Contact Us
.row
  .col-lg-4.col-md-3.col-xs-2
  .col-lg-4.col-md-6.col-xs-8
    = form_tag sent_email_path do
      .form-group
        = label_tag :name
        = text_field_tag 'options[name]', nil, class: 'form-control', placeholder: 'Enter name'
      .form-group
        = label_tag 'Email address'
        = email_field_tag 'options[email]', nil, class: 'form-control', 'aria-describedby': "emailHelp", placeholder: 'Enter email', required: true
      .form-group
        = label_tag :telephone
        = telephone_field_tag 'options[telephone]',nil, class: 'form-control'
      .form-group
        = label_tag 'Reason for Contact'
        = select_tag 'options[reason]', options_for_select(['Advertising', 'Dashboard Support', 'Analytics', 'Peng Suggestion']), class: 'form-control'
      .form-group
        = label_tag :message
        = text_area_tag 'options[message]',nil,  rows: '3', class: 'form-control', required: true
      .form-group
        .recaptcha
          = recaptcha_tags
      = submit_tag 'Send', class: 'btn btn-primary', style: 'width: 100%'
  .col-lg-4.col-md-3.col-xs-2

= render :partial => 'shared/footer'