= render partial: 'shared/navbar'
= render partial: 'shared/main_logo'

%h1.text-center Contact Us

.row
  .col-lg-4.col-md-3.col-xs-0
  .col-lg-4.col-md-6.col-xs-12
    = form_tag sent_email_path, class: 'form-box' do
      .form-group
        = label_tag :name
        = text_field_tag 'options[name]', nil, class: 'form-control', placeholder: 'Enter name'
      .form-group
        = label_tag 'Email address'
        = email_field_tag 'options[email]', nil, class: 'form-control', 'aria-describedby': "emailHelp", placeholder: 'Enter email', required: true
      .form-group
        = label_tag :telephone
        = telephone_field_tag 'options[telephone]',nil, class: 'form-control'
      .form-group
        = label_tag 'Reason for Contact'
        = select_tag 'options[reason]', options_for_select(['Advertising', 'Dashboard Support', 'Analytics', 'Peng Suggestion']), class: 'form-control'
      .form-group
        = label_tag :message
        = text_area_tag 'options[message]',nil,  rows: '3', class: 'form-control', required: true
      .form-group
        .recaptcha
          = recaptcha_tags
      = submit_tag 'Send', class: 'btn btn-primary', style: 'width: 100%'
  .col-lg-4.col-md-3.col-xs-0
