= render partial: 'shared/simple_navbar'
= render partial: 'shared/main_logo'

.dashboard-box.text-center
  %h1
    Your Dashboard

.search-box-text.text-center
  %p
    Enter url or tag in search box:

.row
  .col-lg-4.col-md-3.col-xs-2
  .col-lg-4.col-md-6.col-xs-8
    = form_tag dashboard_path, method: :get do
      .input-group
        = text_field_tag 'search', nil, placeholder: "Search for...", class: 'form-control'
        %span.input-group-btn
          = submit_tag 'Search',class: 'btn btn-default'
  .col-lg-4.col-md-3.col-xs-2

- if !@result.nil?
  - if @result.empty?
    .not-found-text.text-center
      Sorry, nothing found. Try it again
  - else
    .dashboard-box.text-center
      %h3
        Search result:
    .result
      %table.table
        %thead
          %tr
            %th
            %th Url
            %th Tag name
            %th Like count
            %th Tracking since
        %tbody
          - @result.each do |r|
            %tr
              %th{:scope => "row"}
                %td
                  = r[:url]
                %td
                  = r[:tag_names]
                %td
                  = r[:count]
                %td
                  = r[:date]

.dashboard-box.text-center
  %h3
    Your Certified Peng analytics:
-if @user_tags_statistic.present?
  .result
    %table.table
      %thead
        %tr
          %th
          %th Tag name
          %th Url
          %th Like count
          %th Tracking since
          %th Countries
      %tbody
        - @user_tags_statistic.each do |statistic|
          %tr.link-tr
            %th{:scope => "row"}
              %td
                = statistic.tag_name
              %td
                = statistic.url
              %td
                = statistic.like_count
              %td
                = statistic.created_at.strftime("%d %b %Y")
              %td
                = statistic.countries
- else
  .result
    .row
      .col-md-2
      .col-md-8.text-center
        You entered the tag
        %b '#{@user_tags}'
        when you registered. You have #{@not_added_tags} more tags in your allowance
        %br
        Add another tag now:
        = link_to 'click here >', tags_path
      .col-md-2


- if current_user.admin?
  .dashboard-box.text-center
    %h3
      Top 10 most clicked:
  -if @top_likes.present?
    .result
      %table.table
        %thead
          %tr
            %th
            %th Url
            %th Tag name
            %th Like count
            %th Tracking since
        %tbody
          - @top_likes.each do |top|
            %tr
              %th{:scope => "row"}
                %td
                  = top.url
                %td
                  = top.tag_name
                %td
                  = top.like_count
                %td
                  = top.created_at.strftime("%d %b %Y")

= render :partial => 'shared/footer'