.navbar
  = link_to 'Home Page |', root_path
  = link_to 'My Tags |', tags_path
  = link_to 'Logout', destroy_user_session_path, method: :delete

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.dashboard-box.text-center
  %h1
    Dashboard

.search-box-text.text-center
  Enter url or tag in search box:

.search-box
  .col-lg-6
  %form{:action => "/dashboard", :method => "get"}
    %input.form-control.search-input{style: 'height: 4%;', :name => "search", placeholder: "Search for...", type: "text"}
    %button.btn.btn-default.search-button{ :type => "submit"} Search

- if !@result.nil?
  - if @result.empty?
    .not-found-text.text-center
      Sorry, nothing found. Try it again
  - else
    .dashboard-box.text-center
      %h3
        Search result:
    .result
      %table.table
        %thead
          %tr
            %th
            %th Url
            %th Tag name
            %th Like count
            %th Tracking since
        %tbody
          - @result.each do |r|
            %tr
              %th{:scope => "row"}
                %td
                  = r[:url]
                %td
                  = r[:tag_names]
                %td
                  = r[:count]
                %td
                  = r[:date]

.dashboard-box.text-center
  %h3
    Your Certified Peng analytics:
-if @user_tags_statistic.present?
  .result
    %table.table
      %thead
        %tr
          %th
          %th Tag name
          %th Url
          %th Like count
          %th Tracking since
      %tbody
        - @user_tags_statistic.each do |statistic|
          %tr.link-tr{"data-link" =>  tag_detaling_path(tag: statistic[:tag_names],url: statistic[:url]) }
            %th{:scope => "row"}
              %td
                = statistic[:tag_names]
              %td
                = statistic[:url]
              %td
                = statistic[:count]
              %td
                = statistic[:date]
- else
  .not-found-text.text-center
    Your have no analytics recorded yet

- if current_user.admin?
  .dashboard-box.text-center
    %h3
      Top 10 most clicked:
  -if @top_likes.present?
    .result
      %table.table
        %thead
          %tr
            %th
            %th Url
            %th Tag name
            %th Like count
            %th Tracking since
        %tbody
          - @top_likes.each do |top|
            %tr
              %th{:scope => "row"}
                %td
                  = top.url
                %td
                  = top.tag_name
                %td
                  = top.like_count
                %td
                  = top.created_at.strftime("%d %b %Y")

%hr
  .navbar
    %span.text-link
      Gorilla Theory Labs 2017
    %span.text-link{style: 'float: right;'}
      =link_to 'Contact Us', contact_us_path
      =link_to 'Advertise', contact_us_path
      =link_to 'About Us', about_us_path
      =link_to 'Terms', terms_path