.navbar
  - if !user_signed_in?
    = link_to 'Dashboard |', dashboard_path
    = link_to 'Signup |', new_user_registration_path
    = link_to 'Login', user_session_path
  - else
    = link_to 'My Tags |', tags_path
    = link_to 'Dashboard |', dashboard_path
    = link_to 'Logout', destroy_user_session_path, method: :delete

.home-page
  %h1
    СertifiedPeng
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.image-panel
  .container
    .row
      - @categories.each do |category|
        .col-md-4.text-center
          %h2{style: 'font-weight: bold;'}
            = category.name
          = link_to category_path(category.name) do
            = image_tag 'home-page-image.png', class: 'image-box'
          %h3{style: 'font-weight: bold;'}
            = link_to 'Check This Out >', category_path(category.name)


.main-text
  %h3 Get the Certified Peng button for your content:
.script-box
  = '<div class="sinatra-like-button">'
  %br
  = "<script src='https://www.certifiedpeng.com/like-button/TAG-NAME' type='text/javascript'></script>"
  %br
  = "</div>"

.text-box
  %p
    <b>P</b>henomenal<br />
    <b>E</b>xcellent<br />
    <b>N</b>otable<br />
    <b>G</b>orgeous
    <br /><br />
    Certified Peng is a new popularity and aesthetic metric. Certified Peng pinpoints quality content (news, images, video, products).
    %br
    %br
    Use the Peng button to find out what is trending and what is popular in terms of news and products and snapshots of life. Engage with Generation Z millennials and older (young at heart, with their finger on the pulse) audiences.
    %br
    %br
    Use the Certified Peng like button to drive interest in your content, products, or vanity snapshots. We have a dashboard that allows a closer look at who is liking your content and where. Join the Certified Peng network today.
    %br
    %br

%hr
  .navbar
    %span.text-link
      Gorilla Theory Labs 2017
    %span.text-link{style: 'float: right;'}
      =link_to 'Contact Us', contact_us_path
      =link_to 'Advertise', contact_us_path
      =link_to 'About Us', about_us_path
      =link_to 'Terms', terms_path


