= render partial: 'shared/navbar'

.home-page
  %p
    = link_to root_path do
      = image_tag('certified-peng.png', :class => "main-logo")

.image-panel
  .container
    .row
      - @categories.each do |category|
        .col-md-4.text-center
          %h2{style: 'font-weight: bold;'}
            - if category.name == 'merchandise'
              Fashion
            - else
              = category.name.capitalize
          = link_to category_path(category.name) do
            = image_tag 'home-page-image.png', class: 'image-box'
          %h3{style: 'font-weight: bold;'}
            = link_to 'Check This Out >', category_path(category.name)


.main-text
  %h3 Get the Certified Peng button for your content:
.script-box
  = "<div class='sinatra-like-button'>"
  %br
  = "<script src='https://www.certifiedpeng.com/like-button/TAG-NAME' type='text/javascript'></script>"
  %br
  = '</div>'

.my-tags-steps
  .row
    .col-md-3
    .col-md-6
      %b How To:
      %br
      %b Step 1:
      If you are here, you have registered with a tag. The tag is in the code snippet.
      %br
      %b Step 2:
      Copy and Paste the code to where you want the Certified Peng button to display on your webpage
      %br
      %b Step 3:
      Track the number of clicks your button gets :>)
      %br
      %b NB:
      You can have a Certifed Peng button without adding having a tracking account, but you will not be able to access the
      = link_to 'tracking dashboard', dashboard_path
    .col-md-3
%hr

.text-box
  %p
    <b>P</b>henomenal<br />
    <b>E</b>xcellent<br />
    <b>N</b>otable<br />
    <b>G</b>orgeous
    <br /><br />
    Certified Peng is a new popularity and aesthetic metric. Certified Peng pinpoints quality content (news, images, video, products).
    %br
    %br
    Use the Peng button to find out what is trending and what is popular in terms of news and products and snapshots of life. Engage with Generation Z millennials and older (young at heart, with their finger on the pulse) audiences.
    %br
    %br
    Use the Certified Peng like button to drive interest in your content, products, or vanity snapshots. We have a dashboard that allows a closer look at who is liking your content and where. Join the Certified Peng network today.
    %br
    %br


= render partial: 'shared/footer'


