.navbar
  = link_to 'Home Page |', root_path
  = link_to 'Dashboard |', dashboard_path
  = link_to 'Logout', destroy_user_session_path, method: :delete

.dashboard-box.text-center
  %h1
    Your Tags
  %p
    Tags limit is 5. You can also add #{@not_added_tags} tags
.tags-box
  .list-group
    - @tags.each do |tag|
      .list-group-item{:href => "#"}
        =  tag.product_name

.search-box
  .col-lg-6
  %form{:action => "/my-tags", :method => "get"}
    %input.form-control.search-input{style: 'height: 4%;', :name => "tag", placeholder: "Enter one tag each", type: "text"}
    %button.btn.btn-default.search-button{ :type => "submit"} Add tag