= render partial: 'shared/simple_navbar'


.row
  .col-md-2
  .col-md-8
    .home-page
      %p
        = link_to root_path do
          = image_tag('certifiedpeng-large.png', :class => "main-logo")
      %h1
        CertifiedPeng subscription
    .pay-box
      %p
        You now have a Certified Peng analytics account but if you want to track the number of clicks your tag is receiving you need to have a Pro account (this costs £10.00 a month for as long as you need to track a tag)
      %h3
        %b Subscribe to Certified Peng Analytics now
      %br
      = form_tag subscribers_path do
        %script.stripe-button{data: {email: current_user.email, amount: '1000', currency: 'GBP', name: 'Monthly Plan', description: 'CertifiedPeng subscription', key: Rails.configuration.stripe[:publishable_key], locale: 'auto'},checkout:{label: 'TEXT'}, src: 'https://checkout.stripe.com/checkout.js'}
      .stripe-box
        = image_tag('pay-with-stripe.jpg', :class => "stripe-logo")
      = link_to 'Certified Peng Dashboard Terms >', terms_path
      .confirm-terms.text-center
        = check_box('terms-pay', 'acepted', class: 'terms-confirm')
        I agree with the Certified Peng Terms
  .col-md-2
%br

= render :partial => 'shared/footer'


